/* Write your CSS here */
body {
  margin: 0px;
}

.app-container {
  min-height: 100vh;
  padding: 10px;
  background-color: #1e293b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.title {
  color: #f0bb03;
  font-family: 'Bree Serif';
  font-size: 33px;
  font-weight: 500;
  margin: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 80px;
    font-weight: 700;
    margin: 20px;
    margin-bottom: 30px;
  }
}

.description {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 20px;
  font-weight: 300;
  margin: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .description {
    font-size: 30px;
  }
}

.btn {
  background-color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 15px;
  font-weight: 300;
  margin: 30px;
  color: #1e293b;
  border-radius: 10px;
  padding: 10px;
  border-width: 0;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .btn {
    padding-left: 20px;
    padding-right: 20px;
  }
}
